.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:blueviolet;
  flex-direction: column;
  width: 1380px;
  height: 720px;
}

.Home{ 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 20px 100px ;
  background-color:bisque;
  width: 300px;
  height: 300px;
  padding: auto;
}

#divSignUp{ 
  display: flex;
  align-items:flex;
  justify-content: center; 
  text-align:center;
  flex-direction:column;
  gap: 40px;
  background-color:bisque;
  width: 300px;
  height: 300px;
}

.signlabels{
  display: flex;
  align-items:flex;
  justify-content: center; 
  text-align:center;
  flex-direction:column;
  gap: 20px;
}


